body{
    background-color: rgb(132, 172, 173);
}
h1{
    color: rgb(186, 163, 207);
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
i{
    color: chocolate;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}
p{
    color: crimson;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: rgb(250, 135, 135);
}